* {
	box-sizing: border-box;
	background-color: rgb(248, 248, 142);
	overflow:auto;
  }
body {
	text-align:center;
	background-color: yellow;
	font-family:Luminary, cursive;
	color: turquoise;
}


footer{
	margin-top:20px;
	text-align:center;
	font-size:10px;
	text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}


button{
	background-color: rgb(248, 248, 142);
	color: turquoise;
	border: 10px;
	border: 3px solid turquoise;
	width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 10%;
    font-weight: 700;
	margin-top: 60px;
	margin-right: 30px;

	
}

button:hover {
    background-color: turquoise;
    color: yellow;
    border: 10px;
    border: 3px solid rgb(248, 248, 142);
    border: 3px solid yellow;
}
[class*="description"] {
	width: 100%;
	display:inline-block;
	height:60vh;
}

#flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#picture {
	border: 3px solid turquoise;
<<<<<<< HEAD
	width: 50vw;
	height: 60vh;
=======
	width: 800px;
	height:500px;
>>>>>>> 53d9231cd859fc569d40b05a56889152863c47b9

}

#description {
	border: 3px solid turquoise;
	width: 15em;
	height: 20em;
	text-align: center;
}
img {
	display: flex;
	width: 30%;
	height: 30%;
	margin-top:5px;
	padding: 2px;
  }

nav{
display: flex;	
}

#buttons {
	display: flex;
	justify-content: center;
	
}





